[Unit]
Description=Covenant C2 Service .NET Core

[Service]
WorkingDirectory=/opt/covenant/Covenant
ExecStart=/usr/bin/dotnet run -p /opt/covenant/Covenant/Covenant.csproj
Restart=always
RestartSec=10
SyslogIdentifier=dotnet-covenant
User=root
Environment=ASPNETCORE_ENVIRONMENT=Production

[Install]
WantedBy=multi-user.target